#header{
  text-align: center;
  color:lavenderblush;
  background: url(https://images.pexels.com/photos/29675/pexels-photo-29675.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: 99% 110%;
   background-repeat: no-repeat;
}
#header img{
  width: 100%;
  z-index: 1;
  height: auto;
  margin: 1px;
}
#header i{
  font-size: 20px;
}

#header i:hover{
  opacity: 0.7;
  border: 2px;
}
#header h2{
  margin-top: 6%;
  font-family: 'Raleway', sans-serif;
  font-size: 600%;
}
#header p{
  font-size: 35px;
  color:lavenderblush;
  margin: 7px auto 165px;
}
.think{
  border: 3px solid white ; display:inline-block; padding: 4px 6px 4px 5px;   margin-bottom: 30px; border-radius:50%
}
.decorline{
  font-size: 40px;
}

.line{
width: 34%;
height: 2px;
border: 2px solid lavenderblush;
display: inline-block;
margin-bottom: 14px;
}
#about {
   text-align: center;
  margin: 0% 9%;
}
#about h3{
    margin-top: 4%;
  font-size:350%;
  font-family: 'Raleway', sans-serif;
}
#about p{
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  text-align: center;
}
#about img{
  width: 300px;
  height: 250px;
}
#about img:hover{
  opacity: 0.5;
  border: 2px double grey;
}
.aboutdeco{
  font-size: 40px;
}
.aboutline {
  width: 9%;
    height: 2px;
    border: 2px solid black;
    display: inline-block;
    margin-bottom: 17px;
}
#whatwedo{
  margin-top: 5px;
  text-align: center;
}
#whatwedo h3{
  margin-top: 4%;
font-size:350%;
font-family: 'Raleway', sans-serif;
}
#whatwedo2{
  margin-top: 10px 8% 1px;
}
#whatwedo2 h3{
  font-size: 28px;
  font-weight: bold;
}
#whatwedo2 p{
  font-size: 18px;
  text-align: center;
  color: grey;
}
#whatwedo2 i:hover{
  opacity: 0.7;
  border: 2px double grey;
}
#whatwedo2 i{
  color: darkblue;
}
#famouswork{
  margin-top: 5px;
  text-align: center;
}

#famouswork h3{
  margin-top: 4%;
font-size:350%;
font-family: 'Raleway', sans-serif;

}
#famouswork p{
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  text-align: center;
}
#freecode1  h3 small {
    font-size: 85%;
}
#freecode1 h3{
  font-size: 170%;
  font-weight: bold;
}
#freecode1 p{
  font-size: 20px;
  text-align: center;
}
#famouswork img{
  width: 350px;
  height: 280px;
}
#famouswork img:hover{
  opacity: 0.7;
  border: 2px double grey;
}
.aboutfreee{
font-size: 50px;
}
.aboutfreee1 {
  width: 20%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 14px;
}

#peoplethink{
  margin-top: 5px;
  text-align: center;
}
#peoplethink h3{
  margin-top: 4%;
  font-size:350%;
  font-family: 'Raleway', sans-serif;
}
#peoplethink p{
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  text-align: center;
}
#tooglebuttons {
  align-items: center;
}
#togglebuttons a{
  font-size: 25px;
align-items: baseline;
}
#buttons{
  align-items: center;
}
.thinkline{
font-size: 50px;
}
.thinkline1 {
  width: 10%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 14px;
}
#teammembers{
  margin-top: 1px;
  text-align: center;
}
#teammembers h3{
  margin-top: 4%;
  font-size:250%;
  font-family: 'Raleway', sans-serif;
}
#teammembers p{
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  text-align: center;
}
#teammembers img:hover{
  opacity: 0.7;
}
#teammembers i{
    font-size: 26px;
}
#teampic img{
  background: none repeat;
  height: auto;
  width: 130px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #c5a47e;
}
.teamline{
font-size: 50px;
}
.teamline1 {
  width: 7%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 14px;
}
#lie{
  margin-top: 10px;
  text-align: center;
}
#lie h3{
  font-size: 250%;
text-align: center;
  font-family: 'Raleway', sans-serif;
}
#lie h4{
  font-size: 200%;
text-align: center;
  font-family: 'Raleway', sans-serif;

}
#lie p{
  margin-top: 0%;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  text-align: center;
}
.lieline{
font-size: 40px;
}
.lieline1 {
  width: 7%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 14px;
}
#map{
   width: 100%;
  height: 500px;
   frameborder:0
    position: relative;
    height: 500px;
    z-index: 3;
}
.contactus{
  text-align: center;
  border: 2px double grey;
  position: absolute;
  height: 350px;
  width: 300px;
  background-color: rgb(223, 223, 223);
  z-index: 4;
  padding: 10px;
  margin-top: 140px;
  margin-left: 8px;
}

#footer{
  text-align: center;
  background-color:black;
  height: 29px;
}
#footericons{
float: right;
padding-right: 20px;
border-top: 4px solid grey;
}
#footericons i{
  font-size: 20px;
}
#map{
  width: 100%;
  height: 500px;
}


/*styling for small devices...*/
@media (min-width:414px) and (max-width:736px) {
.navbar-header{
    margin-right: 30px;
      margin-left: -50px;
  }
  .navbar-brand{
    float: left;
    height: 8px;
    line-height: 26px;
  }
  .container {
    width: 100%;
  }
  body{
    width: 100%;
  }
  #header {
       text-align: center;
      color: lavenderblush;
      background: url(https://images.pexels.com/photos/29675/pexels-photo-29675.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
      background-size: 103% 113%;
      background-repeat: no-repeat;
      width: 100%;
  }
  #header img{
    width: 100%;
    z-index: 1;
    height: auto;
    margin: 1px;
  }
  #header i{
    font-size: 30px;
  }

  #header i:hover{
    opacity: 0.7;
    border: 2px;
  }
  #header h2{
    margin-top: 12%;
    font-family: 'Raleway', sans-serif;
    font-size:300%;
    padding-top: 12px;
  }
  #header p{
    font-size: 24px;
    color: lavenderblush;
    margin: 9px auto 53px;
  }
  .think{
    border: 2px solid white;
        display: inline-block;
        padding: 1px 2px 1px 1px;
        margin-bottom: 9px;
        border-radius: 24%;

    }
  .decorline{
    font-size: 36px;
  }

  .line{
    width: 18%;
      height: 1px;
      border: 1px solid lavenderblush;
      display: inline-block;
      margin-bottom: 12px;
  }
  #about {
     text-align: center;
    margin: 0% 9%;
  }
  #about h3{
      margin-top: 1%;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
    }
  #about p{
    margin-top: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 86%;
    text-align: center;
    }
  #about img{
    width: 97%;
  height: 132px;
  }
  #about img:hover{
    opacity: 0.7;
    border: 2px double grey;
  }
  .aboutdeco{
    font-size: 36px;
  }
  .aboutline {
    width: 19%;
    height: 0px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 12px;
  }
  #whatwedo{
    margin-top: 5px;
    text-align: center;
  }
  #whatwedo h3{
    margin-top: 1%;
  font-size: 200%;
  font-family: 'Raleway', sans-serif;
  }
  #whatwedo2{
    margin-top: 5px;
  }
  #whatwedo2 h3{
    font-size: 23px;
    font-weight: bold;
  }
  #whatwedo2 p{
    font-size: 13px;
    text-align: center;
    color: grey;
  }
  #whatwedo2 i:hover{
    opacity: 0.7;
    border: 2px double grey;
  }
  #whatwedo2 i{
    color: lightblue;
  }
  #freebies{
    margin-top: 5px;
    text-align: center;
  }

  #freebies h3{
    margin-top: 1%;
  font-size: 200%;
  font-family: 'Raleway', sans-serif;
  }
  #freebies p{
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 112%;
    text-align: center;
  }
  #freecode1  h3 small {
      font-size: 68%;
  }
  #freecode1 h3{
    font-size: 173%;
    font-weight: bold;
  }
  #freecode1 p{
    font-size: 13px;
    text-align: center;
  }
  #freebies img{
    width: 100%;
    height: 150px;
    margin-top: 6px;
  }
  #freebies img:hover{
    opacity: 0.7;
    border: 2px double grey;
  }
.btn{
  display: inline-block;
    padding: 3px 5px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.428571;
    text-align: center;
  }
  .aboutfreee{
  font-size: 36px;
  }
  .aboutfreee1 {
    width: 19%;
    height: 0px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 12px;
  }

  #peoplethink{
    margin-top: 5px;
    text-align: center;
  }
  #peoplethink h3{
    margin-top: 1%;
  font-size: 183%;
  font-family: 'Raleway', sans-serif;
  }
  #peoplethink p{
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 106%;
    text-align: center;
   }
  #tooglebuttons {
    align-items: center;
  }
  #togglebuttons a{
    font-size: 14px;
  align-items: baseline;
  }
  #buttons{
    align-items: center;
  }
  .thinkline{
  font-size: 36px;
  }
  .thinkline1 {
    width: 19%;
    height: 0px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 12px;
  }
  #teammembers{
    margin-top: 5px;
    text-align: center;
    .col-md-3{
      background: none repeat;
      height: auto;
      width: 96px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid #c5a47e;
    }
  }
  #teammembers h3{
    margin-top: 1%;
  font-size: 170%;
  font-family: 'Raleway', sans-serif;
  }
  #teammembers p{
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 84%;
    text-align: center;
  }
  #teammembers img:hover{
    opacity: 0.7;
  }
  #teammembers i{
      font-size: 16px;
      margin: 2px;
  }
  #teampic img{
    background: none repeat;
    height: auto;
    width: 68px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #c5a47e;
  }

  .teamline{
  font-size: 36px;
  }
  .teamline1 {
    width: 19%;
    height: 0px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 12px;

  }
  #lie{
  text-align: center;
}
#lie h3{
  margin-top:10px;
  font-size:600px;
 font-family: 'Lato', sans-serif;
}
#lie p{
font-size:300px;
}
#bar{
  margin-left:-18px;
  margin-right: -18px;
}
#cf {
position:relative;
height:250px;
width:350px;
margin:0 auto;
}

#cf img {
position:absolute;
left:0;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
opacity:0;
}
.nav-pills li{
  float:none;
  display: inline-block;
  zoom:1;
}
.nav-pills{
  text-align: center;
}

@media only screen and(max-width:500px) {
  #header{
    margin-top: -3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-position-x:39%;
    height: 80%;
  }
  #header h3{
    margin-top: 6%;
    font-size: 670%;
  }
  #header p{
    margin-top: 6%;
    font-size: 670%;
  }
  #last{
    border-color: black;
    width: auto;
    height:70px;
  }
  #map{
     width: 100%;
    height: 581px;
     frameborder:0
      position: relative;
      height:auto;
      z-index: 3;
  }


  .contactus{
    text-align: center;
    border: 2px double grey;
    position: absolute;
    height: 372px;
    width: 50%;
    background-color: rgb(223, 223, 223);
    z-index: 4;
    padding: 0px;
    margin-top: 70px;
    margin-left: 3px;
  }
  #footer{
    text-align: center;
    background-color:black;
    height: 100px;
  }
  #footericons{
  float: right;
  padding-right: 26px;
  border-top: 1px solid grey;
  }
  #footericons i{
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 8px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.428571;
    text-align: center;
  }
